#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAVL  1
#define NAVR  2
#define SYM  3
#define NUM  4

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp SLASH  &key_repeat  &kp A  &mt LCTRL S  &mt LEFT_GUI D  &mt LEFT_ALT F  &kp G  &kp H  &mt RIGHT_ALT J  &mt RIGHT_GUI K  &mt RCTRL L  &kp SEMICOLON  &kp SINGLE_QUOTE  &lt NAVL ESCAPE  &kp TILDE  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp PERIOD  &lt NAVR ESCAPE  &lt NUM GRAVE  &lt SYM BACKSPACE  &mt LEFT_SHIFT SPACE  &mt RIGHT_SHIFT ENTER  &lt SYM BACKSPACE  &lt NUM PRINTSCREEN
            >;
        };

        navl {
            display-name = "NAVL";
            bindings = <
&none  &none  &kp PAGE_DOWN  &kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_UP  &kp HOME  &kp END  &kp PAGE_DOWN  &none  &none  &none  &none  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &none  &none  &studio_unlock  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &studio_unlock  &none  &kp F6  &kp LEFT_SHIFT  &kp RIGHT_SHIFT  &kp F7  &none
            >;
        };

        navr {
            display-name = "NAVR";
            bindings = <
&none  &none  &kp PAGE_DOWN  &kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_UP  &kp HOME  &kp END  &kp PAGE_DOWN  &none  &none  &none  &none  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN  &kp RIGHT  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &none  &none  &studio_unlock  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &studio_unlock  &none  &kp F6  &kp LEFT_SHIFT  &kp RIGHT_SHIFT  &kp F7  &none
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&none  &kp GRAVE  &kp AT_SIGN  &kp CARET  &kp EXCLAMATION  &kp SLASH  &kp BACKSLASH  &kp QUESTION  &kp DOLLAR  &kp HASH  &kp AMPERSAND  &none  &none  &kp SINGLE_QUOTE  &kp LEFT_BRACE  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp LESS_THAN  &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp DOUBLE_QUOTES  &none  &none  &kp TILDE  &kp PERCENT  &kp PIPE  &kp ASTERISK  &kp SEMI  &kp COLON  &kp PLUS  &kp EQUAL  &kp MINUS  &kp UNDERSCORE  &none  &none  &none  &kp LEFT_SHIFT  &kp RIGHT_SHIFT  &none  &none
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
&sk LC(C)  &kp MINUS  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SLASH  &kp LC(T)  &kp LC(U)  &kp LC(I)  &kp LC(O)  &kp LC(S)  &kp LC(EQUAL)  &kp LC(V)  &kp PLUS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ASTERISK  &kp LA(H)  &kp LA(J)  &kp LA(K)  &kp LA(L)  &kp LC(Q)  &kp LC(NUMBER_0)  &kp LC(A)  &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &kp LC(W)  &kp LC(J)  &kp LC(K)  &kp LC(R)  &kp LC(G)  &kp LC(MINUS)  &none  &none  &kp LEFT_SHIFT  &kp RIGHT_SHIFT  &none  &none
            >;
        };
    };
};
