#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAVL  1
#define NAVR  2
#define SYM  3
#define NUM  4

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp QUESTION  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp EXCLAMATION  &mo 3  &kp A  &mt LCTRL S  &mt LEFT_GUI D  &mt LEFT_ALT F  &kp G  &kp H  &mt RIGHT_ALT J  &mt RIGHT_GUI K  &mt RCTRL L  &kp SEMICOLON  &mo 3  &kp SLASH  &kp TILDE  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp PERIOD  &kp COMMA  &kp MINUS  &lt 4 TAB  &lt 1 SPACE  &mt LEFT_SHIFT ESCAPE  &mt RIGHT_SHIFT ENTER  &lt 2 BACKSPACE  &lt 4 GRAVE
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
&none  &none  &none  &none  &none  &none  &kp MINUS  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SLASH  &kp ASTERISK  &none  &none  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &none  &kp EQUAL  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LESS_THAN  &kp GREATER_THAN  &none  &none  &none  &none  &none  &none  &kp PLUS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none  &none  &kp ENTER  &kp NUMBER_0  &kp PERIOD
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&none  &kp NUMBER_0  &kp CARET  &kp PERCENT  &kp DOLLAR  &kp EXCLAMATION  &kp SINGLE_QUOTE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PLUS  &kp AMPERSAND  &none  &none  &kp SEMI  &kp COLON  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp POUND  &kp DOUBLE_QUOTES  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp EQUAL  &kp AT_SIGN  &none  &none  &kp TILDE  &kp BACKSLASH  &kp QUESTION  &kp SLASH  &kp ASTERISK  &kp UNDERSCORE  &kp LESS_THAN  &kp GREATER_THAN  &kp MINUS  &kp PIPE  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
&none  &none  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none  &none  &kt C_AC_ZOOM_IN  &kp C_AC_ZOOM_OUT  &kp C_AC_ZOOM  &none  &none  &none  &none  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &none  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &none  &none  &studio_unlock  &none  &kp LC(Z)  &kp K_CUT  &kp K_COPY  &kp K_PASTE  &none  &none  &none  &none  &none  &studio_unlock  &none  &none  &kp LEFT_SHIFT  &kp RIGHT_SHIFT  &kp HOME  &kp END
            >;
        };

        gui {
            bindings = <
&none  &none  &kp LA(LC(F1))  &kp LA(LC(F2))  &kp LA(LC(F3))  &kp LG(GRAVE)  &kt LC(LS(LA(T)))  &kp LC(LA(LS(PAGE_DOWN)))  &kt LA(LS(LC(PAGE_UP)))  &kp LS(LA(LC(Q)))  &none  &none  &none  &none  &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LA(H)  &kp LA(J)  &kp LA(K)  &kp LA(L)  &none  &none  &none  &none  &kp LG(Q)  &kp LG(W)  &kp LG(E)  &kp LG(R)  &kp LS(LA(LC(W)))  &kp LS(LA(LC(S)))  &kp LS(LA(LC(R)))  &kp LS(LA(LC(N)))  &none  &none  &none  &none  &none  &none  &none  &none
            >;

            label = "GUI";
        };
    };
};
